<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div>
    <a class="navbar-brand logo" href="#"></a>
  </div>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Boots</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
  <div class="pull-xs-right">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary">
      <i class="material-icons">shopping_cart</i>
      <span class="badge">{{ cartcontents }}</span>
    </button>
    <button
      class="btn btn-outline-success"
      data-toggle="modal"
      data-target="#myModal"
      type="submit"
      *ngIf = "!loggedIn">
      {{ logButton }}
    </button>
    <button
      class="btn btn-outline-danger"
      type="submit"
      (click) = "logout()"
      *ngIf = "loggedIn">
      {{ logButton }}
    </button>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <form
          class="form-inline"
          [formGroup]="myForm"
          (ngSubmit)="onSubmit(myForm.value)"
          *ngIf = "!loggedIn">
          <div class = "row">
            <div class="col-xs-2"></div>
            <div class = "col-xs-4">
              <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Enter Username"
                  formControlName="username">
              </div>
              <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  formControlName="password">
              </div>
              <div class="form-group">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="rememberme">
                  Remember me
                </label>
              </div>
            </div>
            <div class = "col-xs-4">
              <button
                type="submit"
                class="
                     btn btn-primary
                     text-center">Sign in
              </button>
            </div>
          </div>
        </form>
        <div class = "text-xs-center">
          <div *ngIf="!valid.check" class="text-warning">
            {{ valid.response }}
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <span> Not a member?
          <button class="btn btn-primary">Register</button>
        </span>
      </div>
    </div>
  </div>
</div>



