<div class="row">
  <div style="height: 100px"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2 sidebar">
    <div class="row">
      <div class="col-sm-12 represent">
        Top Chart
      </div>
      <div class="col-sm-12 filter">
        <div style="padding: 20px;">
          <a>Reset Filters</a>
        </div>
        <div class="row">
          <button class="accordion">Brands</button>
          <div class="panel">
            <ul type="none">
              <li class="selected"><a>adidas</a></li>
              <li><a>nike</a></li>
              <li><a>puma</a></li>
            </ul>
          </div>
          <button class="accordion">Collection</button>
          <div class="panel">
            dfsdfd
          </div>

          <button class="accordion">Model</button>
          <div class="panel">
            sdfs
          </div>

          <button class="accordion">Price Bands</button>
          <div class="panel">
            sdfs
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-sm-1"></div>
  <div class="col-sm-7">
    <div class="row listhead">
      <div class="col-sm-12">
        <h1>Football Boots - The Best In The Market</h1>
      </div>
      <div class="col-sm-12 pagebar" style="padding: 0px">
        <ul class="pagination">
          <li class="prevpage"><a>Previous Page</a></li>
          <li style="margin-top:5px;">Page <strong>1</strong> / 60</li>
          <li class="nextpage"><a>Next Page</a></li>
        </ul>
      </div>
    </div>
    <div class="row bootlist">
      <div class="col-sm-3 cell">
        <span class="small-brand-logo {{brand_logo}}">adidas</span>
        <p class="typetext" innerHTML="{{collection}}"></p>
        <div class="imgholder">
          <a>
            <img src="{{imgsrc}}" />
          </a>
          <span class="{{overlayclass}}" innerHTML="{{overlaytext}}"></span>
        </div>
        <div class="bootdesc">
          <a>{{bootname}}</a><br>
          Price:&nbsp<span style="font-size: 20px;">${{bootprice}}</span>
        </div>
      </div>
      <!--
      <div class="col-sm-3 cell">
        <span class="small-brand-logo adidas">adidas</span>
        <p class="typetext"><strong>COPA</strong></p>
        <div class="imgholder">
          <a>
            <img src="../../assets/images/productImages/thumbs/141363.jpg" />
          </a>
          <span class="exclusive">Exclusive</span>
        </div>
        <div class="bootdesc">
          <a>Them Boots</a><br>
          Price:&nbsp<span style="font-size: 20px;">$200</span>
        </div>
      </div>
      <div class="col-sm-3 cell">
        <span class="small-brand-logo adidas">adidas</span>
        <p class="typetext"><strong>COPA</strong></p>
        <div class="imgholder">
          <a>
            <img src="../../assets/images/productImages/thumbs/144702.jpg" />
          </a>
        </div>
        <div class="bootdesc">
          <a>Them Boots</a><br>
          Price:&nbsp<span style="font-size: 20px;">$200</span>
        </div>
      </div>
      <div class="col-sm-3 cell">
        <span class="small-brand-logo adidas">adidas</span>
        <p class="typetext"><strong>COPA</strong></p>
        <div class="imgholder">
          <a>
            <img src="../../assets/images/productImages/thumbs/144494.jpg" />
          </a>
        </div>
        <div class="bootdesc">
          <a>Them Boots</a><br>
          Price:&nbsp<span style="font-size: 20px;">$200</span>
        </div>
      </div>-->
    </div>
  </div>
</div>
<!--<img [src]="'data:image/jpg;base64,'+img">-->
