<div class="content">
<div
  class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2 sidebar">
    <div class="row">
      <div class="col-sm-12 represent">
        Top Chart
      </div>
      <div class="col-sm-12 filter">
        <div style="padding: 20px;">
          <a>Reset Filters</a>
        </div>
        <div class="row">
          <button class="accordion">Brands</button>
          <div class="panel">
            <ul
              type="none"
              *ngFor="let brand of brands; let b = index">
              <li
                (click)="toggleBrand(b)"
                [ngClass]="{'selected': isBrandSelected[b]}">
                <a>{{ brand }}</a>
              </li>
            </ul>
          </div>
          <button class="accordion">Collection</button>
          <div class="panel">
            <ul
              type="none"
              *ngFor="let collection of collections; let c = index">
              <li
                (click)="toggleCollection(c)"
                [ngClass]="{'selected': isCollectionSelected[c]}">
                <a>{{ collection }}</a>
              </li>
            </ul>
          </div>
          <button class="accordion">Price Bands</button>
          <div class="panel">
            <ul
              type="none"
              *ngFor="let price of prices; let p = index">
              <li
                (click)="togglePrice(p)"
                [ngClass]="{'selected': isPriceSelected[p]}">
                <a>{{ price }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-sm-1"></div>
  <div
    class="col-sm-7">
    <div class="row listhead">
      <div class="col-sm-12">
        <h1>Football Boots - The Best In The Market</h1>
      </div>
      <div class="col-sm-12 pagebar" style="padding: 0px">
        <ul class="pagination">
          <li class="prevpage"><a>Previous Page</a></li>
          <li style="margin-top:5px;">Page <strong>1</strong> / 60</li>
          <li class="nextpage"><a>Next Page</a></li>
        </ul>
      </div>
    </div>
    <div class="row bootlist">
      <div
        @bootState
        class="col-sm-3 cell"
        (@bootState.done) = "bootAnimated($event,i)"
        *ngFor = "let boot of displayedBoots; let i = index">
        <span class="small-brand-logo {{boot.brand}}">{{ boot.brand }}</span>
        <p class="typetext" [innerHTML]="boot.collection"></p>
        <div class="imgholder">
          <a (click)="fetchBoot(i)">
            <img [src]="'data:image/jpg;base64,'+boot.img"/>
          </a>
          <span class="{{ boot.status }}" [innerHTML]="boot.status"></span>
        </div>
        <div class="bootdesc">
          <a (click)="fetchBoot(i)">{{boot.name}}</a><br>
          Price:&nbsp<span style="font-size: 20px;">${{boot.price}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
