<div class="header">
  <pdf-navbar></pdf-navbar><br><br>
</div>
<div style="padding-bottom: 0px;">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="spacing"></div>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: black; margin-bottom: 0;position:static;">
    <div id="navbarCollapse" class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
          <li><a [routerLink]="['./contact_us']">Contact Us</a></li>
          <li><a ><span class="fa fa-newspaper-o" style="padding-right:5px;"></span>Subscribe</a></li>
          <li><a [routerLink]="['./privacy']">Privacy</a></li>
          <li><a [routerLink]="['./tandc']">Terms & Conditions</a></li>
       </ul>
    </div>
  </nav>
</footer>
