<div class="header">
  <pdf-navbar></pdf-navbar><br><br>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <nav class="navbar navbar-inverse" style="background-color: black;position: static;">
    <div id="navbarCollapse" class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
          <li><a href="#">Store</a></li>
          <li><a href="#"><span class="fa fa-newspaper-o" style="padding-right:5px;"></span>Subscribe</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
  </nav>
</footer>
