<div class="row">
  <div id="msgbar" class="col-sm-4">
    <ul class="account-menu" style="list-style-type: none;">
      <li class="selected ul-li">
        <a [routerLink]="['/admin/statistics']">Statistics</a>
      </li>
      <li class="ul-li">
        <a [routerLink]="['/admin/stock']">Stock Update</a>
      </li>
      <li class="ul-li">
        <a [routerLink]="['/admin/add_wallpaper']">Add Wall Paper</a>
      </li>
      <li class="ul-li">
        <a [routerLink]="['/admin/add_boots']">Add Boots</a>
      </li>
    </ul>
  </div>
  <div id="msgbar" class="col-sm-8">
    <div class="col-sm-12 UCanvas">
      <div *ngIf="UloadCanvas">
        <canvas baseChart *ngIf="Uloaded" [datasets]="UBarChartData" [labels]="UBarChartLabels" [options]="UBarChartOptions" [legend]="UBarChartLegend"
          [chartType]='"bar"' style="display:block; width:100%; height:50vh;">
        </canvas>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="bootsLoaded">
        <tr
        *ngFor = "let boot of boots; let i = index">
        <td>
          <div class="imgholder">
            <a>
              <img [src]="'data:image/jpg;base64,'+boot.img"/>
            </a>
          </div>
          <div class="textholder">
            <p>
              <a>{{ boot.name }}</a><br>
            </p>
          </div>
        </td>
        <td>
          <h3 style="text-align: center;">£{{ boot.price }}</h3>
        </td>
      </tr>
    </div>
  </div>
</div>