<div class="row">
  <div id="msgbar" class="col-sm-4">
    <ul class="account-menu" style="list-style-type: none;">
      <li class="selected ul-li"><a [routerLink]="['/admin/statistics']">Statistics</a></li>
      <li class="ul-li"><a [routerLink]="['/admin/stock']">Stock Update</a></li>
      <li class="ul-li"><a [routerLink]="['']">Add Wall Paper</a></li>
      <li class="ul-li"><a [routerLink]="['']">Add Boots</a></li>
    </ul>
  </div>
  <div id="msgbar" class="col-sm-8">
    <h4>Sales Statistics</h4>
  </div>
</div>
