<div class="row">
  <div id="msgbar" class="col-sm-4">
    <ul class="account-menu" style="list-style-type: none;">
      <li class="ul-li"><a [routerLink]="['/admin/statistics']">Statistics<span></span></a></li>
      <li class="ul-li"><a [routerLink]="['/admin/stock']">Stock Update</a></li>
      <li class="selected ul-li"><a [routerLink]="['/admin/add_wallpaper']">Add Wall Paper</a></li>
      <li class="ul-li"><a [routerLink]="['/admin/add_boots']">Add Boots</a></li>
    </ul>
  </div>
  <div id="msgbar" class="col-sm-8">
    <br />
    <image-upload
      [preview]="true"
      [extensions]="['jpg','png','gif']"
      [max]="1"
      (uploadFinished)="onSubmit($event.src,$event.file.name)">
    </image-upload>
    <button (click)="sendWall();" class="btn checkout">Submit</button>
  </div>
</div>
