<div class="container-fluid" style="padding-top:2%;">
  <div class="row">
    <div id="msgbar" class="col-sm-4">
      <ul class="account-menu" style="list-style-type: none;">
        <li class="selected ul-li"><a [routerLink]="['/tandc']">Terms &amp; Conditions<span></span></a></li>
        <li class="ul-li"><a [routerLink]="['/privacy']">Privacy<span></span></a></li>
        <li class="ul-li"><a [routerLink]="['/contact_us']">Contact US<span id="selected"></span></a></li>
      </ul>
    </div>
    <div id="msgbar" class="col-sm-8">
      <h3>Terms and Conditions.</h3>
      <p style="text-align:left;">Pro:Direct. Pro:Direct Soccer, Pro:Direct Running, Pro:Direct Tennis, Pro:Direct Cricket, Pro:Direct Rugby and Pro:Direct Select
        are all trading names and registered trademarks of Pro-Direct Sport Limited.</p>
      <p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEBSITE. </p>
      <p>This website is operated by Pro-Direct Sport Ltd and its subsidiaries and affiliates (collectively, "us", "we" or " Pro-Direct Sport Ltd").</p>
      <p style="text-align:left;">By accessing or using Pro-Direct Sport Ltd websites or services, or the mobile versions of either, (collectively the "Website") you signify that you have read,
        understand and agree to be bound by these Terms of Use ("Terms of Use" or "Agreement") and any other applicable law, whether or not you are a registered member of Pro-Direct Sport Ltd.
        Pro-Direct Sport Ltd may change these Terms of Use at any time without notice, effective upon its posting to the Website. You agree to review these Terms of Use regularly to make yourself aware of any changes. Your continued use of the Website shall be considered your acceptance to the revised Terms of Use.
        If you do not agree to these Terms of Use, please do not use this Website.</p>
    </div>
  </div>

  <br><br>

</div>
